<div class="sticky-footer">
    <%#= render 'bottom_bar' %>
      <div class="fixed-bottom  show-for-medium-down">
      <nav class="top-bar bottom-bar" >
        <section class="top-bar-section">

          <%= link_to new_note_path(:request_id => @walkthrough.request_id), data: {confirm: "Are you sure? Unsaved data will be lost."} do %>
            <div class="bottom-button">
              Add Note

            </div>
          <%end%>
          
          <div class="bottom-button save-button">
            Save
          </div>

      </section>
      
      </nav>
    </div>
  </div> 