<%= simple_form_for(@walkthrough, html: { class: 'form-horizontal'}) do |f| %>

  
  <div class="field">
    <%= f.label :request_id %><br>
    <%= f.number_field :request_id, :readonly => true, placeholder: @walkthrough.request_id %>
  </div>

  



<% end %>