<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Latest Request</th>
      <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.company_name, customer %></td>
        <%#= customer.requests.last.created%>
        <!-- I don't know how to get this right now -->
        <td><%= link_to 'Request Date - Name of Contact', customer%></td>
        <!-- Make this an icon later -->
        <td><%= link_to '>', customer%></td>
      </tr>
    <% end %>
  </tbody>
</table>