

<div class="small-12 columns getting_started_container ">
		

	<div class=" content-padding ">
		<div class="row">
			<h1>Welcome,</h1>
		</div>
		<div class="row">
			<% if can? :manage, :all %>
				<p>Choose an option below to get started, or review recent requests and audits.</p>
			<% end %>
		</div>
		<div class="row">

			<!-- <ul class="small-block-grid-1 medium-block-grid-3">
				<li>Add a New Client</li>
				<li>Add a Request to an Existing Client</li>
				<li>Update an Ongoing Request</li>
			</ul> -->
			
			<!-- option 1 -->
			<% if can? :manage, :all %>
			<%=link_to new_customer_path do %>
				<div class="small-12 medium-4 columns option-button">
					<div class="option">
						<h4>Add a New Client to the System</h4>
					</div>
				</div>
			<% end %>

			<!-- option 2 -->
			<%=link_to new_request_path do %>
				<div class="small-12 medium-4 columns option-button">
					<div class="option">
						<h4>Add a Request to an Existing Client</h4>
					</div>
				</div>
			<% end %>

			<!-- option 3 -->
			<%=link_to requests_path do %>
				<div class="small-12 medium-4 columns option-button">
					<div class="option">
						<h4>Update an Ongoing Request</h4>
					</div>
				</div>
			<% end %>

			<% else %>

			<%=link_to login_path do %>
				<div class="small-12 medium-12 columns option-button">
					<div class="option">
						<h4>Login</h4>
					</div>
				</div>
			<% end %>
			<% end %>



		</div>


		

				
	</div>


</div>
