<div class="row">
	<div class="small-12 columns">
		<h1>Help</h1>
		<div id="description">
			<p>
				This Waste Audit System is a mobile-compatible web application that facilitates data entry, management, and storage in all steps of the waste audit process. ZWPA employees can easily enter information on a tablet, mobile phone, or computer both in the office and during client visits. Photos and notes can be added to the system through any device, and all files and information stored in the system can be easily accessed and retrieved both on-site and at the office. Metrics from the data collection process are stored in the database and can be exported to Excel for reporting.
			</p>
		</div>

		<div id="new-client">
			<h3>How to start a request for a new client:</h3>
			<ol>
				<li>Add a client and a request for services</li>
				<ol type="a">
					<li>Click 'Add a New Client to the System' from the home page.</li>
					<li>Enter the name of the company or organization in the Company Name field. This is required.</li>
					<li>Enter request information as needed. Only fields denoted with an asterisk (*) are required. All information can be edited at any point after submission.</li>
				</ol>
				<li>Add an Initial Questionnaire</li>
				<ol type="a">
					<li>Select the request from the Client Requests table on the Client page.</li>
					<li>Click the '+ Add Questionnaire' button on the top left side of the request details page.</li>
					<li>Enter Initial Questionniare information as needed. Only fields denoted with an asterisk (*) are required. Click bolded headers (i.e. Does your building have a...) to expand for more questions. All information can be edited at any point after submission.</li>
					<li>Click 'Save'. Add photos and notes throughout the walkthrough by clicking 'Add Note' at the bottom of the screen (only available on tablets and mobile devices).</li>
					<li>Click 'Back to Request' to return to the request details page.</li>
				</ol>
				<li>Add a Waste Audit</li>
				<ol type="a">
					<li>Click the 'Add Audit' button from the request details page.</li>
					<li>Select the waste type: Landfill, Recycle, or Compost. Fill in the Time Period and Location. All audit form fields are required.</li>
					<li>Add waste items by selecting a waste category from the drop down menu. Weight and origin are optional fields.</li>
					<li>Click '+ Add an item' to add waste as needed. Delete waste by clicking the red 'x' button on the right.</li>
					<li>For custom waste not listed in the drop down menu, click 'Add note' to record the item manually. Be sure to save the audit form before adding custom waste notes or data will be lost.</li> 
					<li>Return to the request details page by clicking the link formatted as 'Client - Date' at the top of the screen. Add each audit (landfill, recycle, compost) separately from the request details page.</li>
				</ol>
			</ol>
		</div>

		<div id="existing-client">
			<h3>How to add a new request for an existing client:</h3>
			<ol>
				<li>Click 'Add a Request to an Existing Client' from the home page.</li>
				<li>Select the client from the list.</li>
				<li>Proceed with the instructions above starting from 1c.</li>
			</ol>
		</div>

		<div id="delete">
			<h3>How to delete:</h3>
			<ol>
				<li>A Client: Clients cannot be deleted from the system.</li>
				<li>A Request: Requests cannot be deleted from the system.</li>
				<li>An Initial Questionnaire: Go to the request details page, select 'Site Questionnaire' from the list of documents, click 'Delete' at the bottom of the form.</li>
				<li>An Audit: Go to the request details page, select the audit from the list of documents, click 'Delete' at the top of the audit page.</li>
				<li>A Waste Item: Go to the request details page, select the audit from the list of documents, click 'Update', click the red 'x' by the waste item.</li>
			</ol>
		</div>

		<div id="export">
			<h3>How to export data:</h3>
			<p>At this time, only waste audit data can be exported. Select the waste audit from the request details page and click 'Download' to download the data in either CSV or Excel format.</p>
		</div>
	</div>

</div>
	