<h1>Help</h1>
<div id="description">
	<p>
		This Waste Audit System is a mobile-compatible web application that facilitates data entry, management, and storage in all steps of the waste audit process. ZWPA employees can easily enter information on a tablet, mobile phone, or computer both in the office and during client visits. Photos and notes can be added to the system through any device, and all files and information stored in the system can be easily accessed and retrieved both on-site and at the office. Metrics from the data collection process are stored in the database and can be exported to Excel for reporting.
	</p>
</div>

<div id="new-client">
	<h3>How to start a new audit for a new client:</h3>
	<ol>
		<li>Add a client</li>
		<ol type="a">
			<li>Go to the 'Clients' page from the navigation bar, and click 'Add Client'.</li>
			<li>Enter the name of the company or organization, and click 'Add Client' to add the new client to the system.</li>
		</ol>
		<li>Add a request</li>
		<ol type="a">
			<li>Click the 'Add Request' button from the client information page of step 1b.</li>
			<li>Enter request information as needed. Only fields denoted with an asterisk (*) are required. All information can be edited at any point after submission.</li>
		</ol>
		<li>Add an Initial Questionnaire</li>
		<ol type="a">
			<li>Click the 'Add Questionnaire' button on the left side of the request for services page from step 2b.</li>
			<li>Enter Initial Questionniare information as needed. Only fields denoted with an asterisk (*) are required. Tap bolded headers (i.e. Does your building have a...) to expand for more questions. All information can be edited at any point after submission.</li>
		</ol>
		<li>Add a Waste Audit</li>
		<ol type="a">
			<li>Click the 'Back to Request' button from the Initial Questionniare details page from step 3b.</li>
			<li>Click the 'Add Audit' button.</li>
		</ol>
	</ol>
</div>

<div id="existing-client">
	<h3>How to add a new request for services for an existing client</h3>
	<ol>
		<li>Go to the 'Clients' page from the navigation bar, and confirm that the client is in the system.</li>
		<li>If the client is not in the system, follow the instructions above to create a new client. Otherwise, select the client from the list.</li>
		<li>Click 'Add Request' and follow the instructions above starting from step 2b.</li>
	</ol>
</div>

<div id="note">
	<h3>How to add a note to a request</h3>
</div>