<!-- Main div for displaying most recent requests -->
<%= render "getting_started" %>


	<div class="row">
	<!-- <fieldset> -->

		<div class="small-12 medium-12 large-7 columns">
			<h2>Recent Requests</h2>
			<!-- Show latest requests that have been issued -->
			<%= render :partial => "recent_requests", locals: { requests: @requests } %>

		</div>




		<!-- Right column displays recently added clients and documents -->
		<div class=" large-5 columns">
			<div class="row">
				<div class="small-12 columns">
					<h3>Recent Audits</h3>
					<%= render :partial => "recent_audits", locals: { audits: @audits } %>
				</div>

			</div>
			

			

		</div>

	</div>
	

		
	<!-- </fieldset> -->



