<table>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Latest Request</th>
      <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.company_name, customer %></td>
        <td><%= link_to customer.requests.chronological.last.date.to_s + ' - ' + customer.requests.chronological.last.contact_firstname + ' ' + customer.requests.chronological.last.contact_lastname, customer.requests.chronological.last %></td>
        <!-- Make this an icon later -->
        <td><%= link_to '>', customer%></td>
      </tr>
    <% end %>
  </tbody>
</table>