<div class="row">
	<div class="small-12 columns">
		<h5>
			<%= link_to "Clients", customers_path %> /
			<%= link_to @customer.company_name, @customer %>
		</h5>

		<%= render 'form', :edit => true %>
		
	</div>
</div>


