<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Date Initiated</th>
      <th>Contact</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <!-- <td><%= request.customer_id %></td> -->
        <td><%= link_to request.customer.company_name, request_path(request) %></td>
        <td><%= link_to request.date.strftime('%b %e, %Y'), request_path(request) %></td>
        <td><%= link_to request.name, request_path(request) %></td>
        
        <td>><%#= link_to 'Update', edit_request_path(request), class: 'button tiny' %></td>
      </tr>
    <% end %>
  </tbody>
</table>