<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Date Initiated</th>
      <th>Point of Contact</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.customer.company_name, request%></td>
        <td><%= link_to request.date.strftime('%b %e, %Y'), request %></td>
        <td><%= link_to request.contact_firstname + ' ' + request.contact_lastname, request %></td>
        <td><%= link_to '>', request %></td>
      </tr>
    <% end %>
  </tbody>
</table>