<% if !@documents.empty? %>

  <table width="100%">
    

    <tbody>
      <% @documents.each do |doc| %>
        <%if doc.instance_of? Walkthrough%>

          <tr>
           
            <td><%=link_to "Site Questionnaire - " + doc.created_at.strftime('%b %e, %Y'), edit_walkthrough_path(doc) %> </td>
            
            <td>></td>
          </tr>

        <%else%>
          <tr>
            <td><%=link_to doc.generator + " Audit - " + doc.created_at.strftime('%b %e, %Y'), doc %> </td>
            
            <td>></td>


          </tr>
        <%end%>
      <% end %>
    
    </tbody>
  </table>

<% else %>

  <p>There are no documents.</p>

<%end%>