<table class="table">
  <tr>
    <th width="200">Client</th>
    <th width="120">Start Date</th>
    <th></th>
  </tr>

  <% requests.each do |request| %>
    <tr>
      <!-- How do I get the company name of request??? -->
      <td><%= link_to request.customer.company_name, request_path(request) %></td>
      <td><%= request.date%></td>
      
      
    </tr>
  <% end %>
</table>

<%= link_to "View All Requests", requests_path %>

<!-- Add the pagination using will_paginate gem -->
<!-- <span class="paginate">
<%#= will_paginate requests, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span> -->
