
<!-- Main div for displaying most recent requests -->
<div class="small-12 medium-12 large-7 columns">
	<h1>Recent Requests</h1>
	<!-- Show latest requests that have been issued -->
	<%= render :partial => "recent_requests", locals: { requests: @requests } %>

</div>


<!-- Right column displays recently added clients and documents -->
<div class="show-for-large-up large-5 columns">
	<div class="row">
		<div class="small-12 columns">
			<h4>Recent Documents</h4>
		</div>

	</div>
	<div class="row">
		<div class="small-12 columns">
			<h4>Recent Clients</h4>
		</div>


	</div>

	

</div>

