  <div class="fixed-bottom  show-for-medium-down">
    <nav class="top-bar bottom-bar" >
    	<section class="top-bar-section">
    		<div class="bottom-button">
    			Add Note

    		</div>
    		
    		<div class="bottom-button">
    			Save
    		</div>
    
	  </section>
  	
    </nav>
  </div>