<% if !@wastes.empty? %>
	<table>
		<thead>
			<tr>
				<th>Material Type</th>
				<th>Weight (lbs)</th>
				<th>Origin</th>
			</tr>
		</thead>
		<tbody>
			<% @wastes.each do |waste| %>
				<tr>
					<td width="200"><%= waste.material_type %></td>
					<td width="150"><%= waste.weight %></td>
					<td width="100"><%= waste.origin %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p> There are no waste entries.</p>
<% end %> 