<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Material Type</Data></Cell>
        <Cell><Data ss:Type="String">Weight</Data></Cell>
        <Cell><Data ss:Type="String">Origin</Data></Cell>
       
      </Row>
    <% @csvWaste.each do |waste| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= waste.material_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= waste.weight %></Data></Cell>
        <Cell><Data ss:Type="String"><%= waste.origin %></Data></Cell>
        
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>