  <div class="fixed-bottom contain-to-grid show-for-medium-down">
    <nav class="top-bar bottom-bar" >
    	<section class="top-bar-section">
    		<div class="bottom-button">
    			Add Note

    		</div>
    		
    		<div class="bottom-button">
    			Save
    		</div>
    		<!-- <ul class="left">
	      <li><%#=link_to 'Add Note', new_note_path, class: "button bottom_button"%></li>
	      <li><%#=link_to 'Save', new_note_path, class: "button bottom_button"%></li>
	  </ul> -->
	  </section>
  	
    </nav>
  </div>