  <div class="fixed-bottom">
    <nav class="top-bar bottom-bar" >
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
        <h1><a id="surprise" href="#">Fixed footer! </a></h1>
        </li>
      </ul>
    </nav>
  </div>