/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.datepicker
 *= require_tree .
 */
w1 {
    padding-left: 50px;
} 

w2 {
    padding-left: 80px;
} 

table{
	border-spacing: 0;
	border-radius: 5px;
}

.button-head{
	float:left;
	margin-right:.5em;
} 

.button-group{
	padding-top: 1em;
}

.add_button{
	margin: 1.2em;	
}

.title:visited{
	color: white;
}
/*********************/
/*Styling for top info on home page*/
/********************/

.getting_started_container{

  	border-width: 1px;
  	background: 
  		linear-gradient(
      		rgba(15, 159, 15, .15), 
      		rgba(15, 159, 15, .15)
      
    	);
  	text-align:center;
  	margin-bottom: 2em;
  	color:#3f3f3f;
  
}

.getting_started_container h1{
	color:#3f3f3f;
}

.option-button h4{
	color:#ffffff;
}


.option{
	background-color: rgba(15, 159, 15, .7);
	margin: 1em 1.8em 1.8em 1.8em;
	padding: 2em 2em;
	border-style: solid;
	border-radius: 10px;
	border-color: rgba(15, 159, 15, .7);
	transition: all 0.1s ease-in-out 0.1s;
}

.option:hover{
	border-color: rgba(15, 100, 15, 1) ;
	
}

a:visited {
	color: white;
}

.button:visited{
	color: white;
}

.smallbutton:visited{
	color: white;
}


tr {
    cursor: pointer;
}

table tbody tr:hover{
	background-color: #D3D3D3;
}

/*TOP NAV BUTTONS*/

.top-bar-section ul li > a.button.navbut{
	background-color: rgba(15, 159, 15, 1);
}

.top-bar-section ul li > a.button.navbut:hover{
	background-color:rgba(15, 100, 15, 1);
}


.litterbug{
	padding-top:1em;
	padding-bottom:1em;
	width: 12em;

}

.errormessage{
	text-align: center;

}

.errormessage h1{
	font-size: 6em;
	color: #3f3f3f;

}

.errormessage h2{
	color:#3f3f3f;
}


/*ABOUT PAGE*/
.about_img{
	width: 10em;
	padding-top: 2em;
	/*text-align:center;*/
}

.row_center{
	text-align: center;
}

