// Styling for top nav bar

// Background color of nav bar

.contain-to-grid{
	background-color: rgba(15,52,15, .7);
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	
}

.top-bar{
	height: 55px;
	transition: all 0.5s ease 0.1s;
	padding-top:5px;
}

.bottom-bar {
  
  color: #FFFFFF;
  background-color: rgba(15,52,15, .7);
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
}

.fixed-bottom {
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 0;
  z-index: 99;
}
